<div class="ion-page">

  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Edit Room</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>

    <ng-container *ngIf="!isRoomSelected">
      <ion-list>
        <ion-item *ngFor="let room of rooms">
          <ion-grid>
            <ion-row>
              <ion-col>
                <p>{{room.name}}</p>
              </ion-col>
              <ion-col>
                <ion-button (click)="editRoom(room)">
                  Edit
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
            
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="addNewRoom()">
        Add New Room
      </ion-button>
    </ng-container>

    <ng-container *ngIf="isRoomSelected">
      <ion-list >
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input placeholder="Enter Name" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Price</ion-label>
          <ion-input type="number" placeholder="Enter Price" [(ngModel)]="price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Capacity</ion-label>
          <ion-input type="number" placeholder="Enter Price" [(ngModel)]="capacity"></ion-input>
        </ion-item>
        <ion-radio-group (ionChange)="changeActiveStatus($event)" [value]="isActive ? 'active' : 'inactive'">
          <ion-list-header>
            <ion-label>
              Status
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Active</ion-label>
            <ion-radio slot="start" value="active"></ion-radio>
            <ion-label>Inactive</ion-label>
            <ion-radio slot="end" value="inactive"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
  
      <ion-button expand="block" (click)="updateRoom(hotelId, roomId)">
        Update
      </ion-button>
    </ng-container>
  </ion-content>
</div>