<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Hotels List
    </ion-list-header>

    <ion-item *ngFor="let hotel of hotels">
      <ion-card>
        <img src="{{hotel.image}}" />
        <ion-card-header>
          <ion-card-subtitle>Habitación</ion-card-subtitle>
          <ion-card-title>{{hotel.name}}</ion-card-title>
        </ion-card-header>
        <ion-button expand="block" (click)="editModal(hotel.id)">
          Edit
        </ion-button>
      </ion-card>
    </ion-item>

 
  </ion-list>

</ion-content>