<div class="ion-page">

  <ion-header translucent>
    <ion-toolbar>
      <ion-title>add</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>

    <ion-list>

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="name" placeholder="Enter Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input [(ngModel)]="description" placeholder="Enter Description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Image URL</ion-label>
        <ion-input [(ngModel)]="image" placeholder="Enter image URL"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Price per night</ion-label>
        <ion-input [(ngModel)]="price" type="number" placeholder="Enter price per night"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Capacity</ion-label>
        <ion-input [(ngModel)]="capacity" type="number" placeholder="Enter room capacity"></ion-input>
      </ion-item>

      <ion-radio-group value="active" (ionChange)="changeActiveStatus($event)">
        <ion-list-header>
          <ion-label>
            Status
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Active</ion-label>
          <ion-radio slot="start" value="active"></ion-radio>
          <ion-label>Inactive</ion-label>
          <ion-radio slot="end" value="inactive"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-list>

    <ion-button expand="block" (click)="add()">
      Add 
    </ion-button>
  
  </ion-content>
  
</div>


